state-machine.yml
Fn::Sub:
  - |- 
    {
      "Comment": "Orchestration for collecting stats",
      "StartAt": "CollectAllTeamsForReduction",
      "States": {
        "CollectAllTeamsForReduction": {
          "Type": "Task",
          "Resource": "${collectAllForReductionArn}",
          "Next": "ReduceTeams"
        },
        "ReduceTeams": {
          "Type": "Task",
          "Resource": "${reduceTeamsArn}",
          "Next": "Check"
        },
        "Check": {
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.done",
              "BooleanEquals": true,
              "Next": "Success"
            }
          ],
          "Default": "ReduceTeams"
        },
        "Success": {
          "Type": "Succeed"
        }
      }
    }
  - collectAllForReductionArn: 
      Fn::GetAtt: [CollectAllTeamsForReductionLambdaFunction, Arn]
    reduceTeamsArn:
      Fn::GetAtt: [ReduceTeamsLambdaFunction, Arn]